body{
    margin:0;
    padding: 0;
    
}
header{
   
}
.painel-corpo{
    display: flex;
    flex-direction: column;
}
.painel-template-topo{
    position: fixed;
    z-index: 999;
}
.painel-template-topo, .painel-template-corpo{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.painel-template-corpo, .painel-home{
    
    height: auto;
}
.painel-bl-template{
    width: 16.2%;
    height: 50px;
    background: #397EA8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.painel-bl-template img{
    height: 28px;
}
.painel-corpo-template{
    width: 83.8%;
    height: 50px;
    background: #3F8CBB;
    color: #FFF;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
}
.user-profile{
    width: 270px;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
.user-profile a{
    color:#FFF;
}
.mensage-qt{
    position: absolute;
    margin-top: -25px;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    background: #DC4D3B;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notificacoes-qt{
    position: absolute;
    margin-top: -25px;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    background: #F29B18;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dados-user{
    font-size: 16px;
}
.dados-user img{
    height: 25px;
}
.painel-barra-lateral{
    background: #273135;
    height: auto;
    min-height: 100%;
    width: 19%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    margin-top: 50px;
}
.painel-barra-lateral hr{
    width: 100%;
    border: 1px solid #FFF;
}
.perfil-user{
    display: flex;
    flex-direction: row;
    color: #FFF;
    font-size: 20px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.perfil-user img{
    height: 50px;
}
.perfil-user:hover>#edit_foto {
    display: block;
}
.perfil-user span{
    padding-left: 10px;
}
#edit_foto{
    display: none;
    position: absolute;
    background: orange;
    border-radius: 5px;
    font-size: 13px;
    margin: 0;
    margin-top: 30px;
    padding: 3px;
    cursor: pointer;
}
#edit_foto a{
    color: #FFF;
    text-decoration: none;
}
.painel-corpo hr{
    color: #FFF;
    border: 1px solid #FFF;
    width: 100%;    
}
.graduacao{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;    
    font-size: 30px;
    width: 100%;
    margin-bottom: 30px;
    margin-left: 14px;
}
.graduacao span{
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    text-justify: auto;
}
.consumidor{
    margin-bottom: 10px;
}
.consumidor span{
    font-size: 15px;
    color: #FFF;
    margin-left: 14px;
}
.colapse, #headingOne, #headingTwo, #headingThree, #headingFour, #headingFive{
    background: none;
    border:none;
    color: #FFF;
}
#home a{
    font-size: 17px;
    color: #FFF;
    font-family: inherit;
    font-weight: 500;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}
#home a:hover{
    color: #397EA8;
}
#lista-menu{
    list-style: none;
    padding: 10px;
    padding-top: 0;   
}
#lista-menu li{
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 4px;
}
#lista-menu li i{
    font-size: 10px;
}
#lista ul a:hover{
    color:#397EA8;
    text-decoration: none;
}
#lista{
    padding-top: 0;
    padding-bottom: 0;
}
#lista ul a{
    color:#FFF;
}
.panel-body{
    padding-bottom: 0;
    margin-bottom: 0;
}
.panel-title a:hover, .panel-title a:visited{
    text-decoration: none;
    color:#397EA8;
}
.panel-title{
    display: flex;
    justify-content: space-between;
}
/*CSS Corpo do Painel*/
.painel-home{
    padding: 40px;
    width: 100%;
    margin-top: 50px;
}
.painel-home h3{
    font-weight: bold;
}
#modalFotoPerfil{
    width: 350px;
}
#modalFotoPerfil .modal-body{
    text-align: center;
    
}
#modalFotoPerfil .modal-footer{
    display: flex;
    justify-content: space-between;    
}
#fotoPerfil{
    height: 140px;
    width: 120px;
}
/*CSS Afiliados - Collapse*/
.panel-default>.panel-heading{
    background-color: #ddd;
}
.afiliados-head{
 display: flex;
 justify-content: flex-start;
 width: 100%;
}
#lista2{
    color:#000;
}
#ol-filhos{
    list-style: none;    
}
#ol-filhos li{
    font-size: 16px;
}

.legenda{
    border: 1px solid #ccc;
    max-width: 200px;
    min-width: 200px;
    margin-right: 10px;
}
.legenda-itens ul{
    list-style: none;
    
}
.legenda-itens h5{
    font-size: 15px;
    font-weight: bold;
    padding-left: 35px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
#ativo, #afiliados-ativos{
    color:blue;
}
#inativo, #afiliados-inativos{
    color: #3CB371;
}
#afiliados-total{
    color:#000;
}
#lista-menu2 {
    padding: 0;
    margin: 0;
}
#linha-filhos{
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    margin-left: -35px;
    padding-right: 40px;
}
#afiliados-filhos{
    display: flex;
    justify-content: flex-start;
    padding-right: 10px;
    margin-right: 10px;
}
#afiliados-nome{
    flex: 3;
}
#afiliados-sobre{
    flex: 1;
    color: #3CB371;
    text-align: right;
}
#afiliados-sobre:hover{
    color:blue;
    cursor: pointer;
}
#afiliados-mais{
    flex: 10;
    color: #3CB371;
    text-align: right;
}
/*CSS Pagina Convidar*/
.convidar{
    display: flex;
    flex-direction: column;
}
.convidar-form{
    margin-top: 30px;
    padding: 0;    
}
.convidados{
    margin-top: 30px;
}
.convidados h3{
    margin-bottom: 30px;
}
.convidar-link{
    width: 100%;
}
#link{
    width: 80%;
}
#link:hover{
    cursor: text;
}
/*CSS Modal Veja Mais*/
.modal-body p, .modal-title{
    color: #000;
}
.afiliados{
    display: flex;
    justify-content: flex-start;
    
}
.foto-afiliados, .foto-afiliados2{
    max-height: 180px;
    max-width: 140px;
    border: 1px solid #ccc;
    padding: 4px;
}
.foto-afiliados img, .foto-afiliados2 img{
    height: 140px;
    width: 120px;
}
.dados-afiliados{
    color:#000;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10px;
    width: 100%;
}
.afiliados-nome, .afiliados-telefone, .afiliados-email, .afiliados-data{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
/*CSS HOME*/
.painel-inativo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.painel-inativo h3{
    margin-top: 50px;
    align-self: center;
    font-size: 50px;
}
.painel-inativo span{
    font-size: 20px;
}
.painel-opcoes{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.painel-reativar, .painel-saldo{
    width: 48%;
    padding-bottom: 15px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.painel-reativar a button{
    height: 40px;
    font-size: 20px;
}
.home-head{
    display: flex;
    justify-content: space-between;
}
.ativos, .indicados, .premios, .pontos{
    height: 130px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ativos{
    background: #00c0ef !important;
}
.indicados{
    background: #00a65a !important
}
.pontos{
    background: #f39c12 !important;
}
.premios{
    background: #dd4b39 !important;
}
.ativos:hover #icone, 
.indicados:hover #icone, 
.pontos:hover #icone,
.premios:hover #icone{
    font-size: 85px;
}
.painel-dados{
    display: flex;
    justify-content: space-between;
}
.dados{
    padding: 10px;
    color: #FFF;
}
.dados h4{
    font-size: 35px;
    position: absolute;
    z-index: 999;
}
.dados h5{
    margin-top: 60px;
   
}
#icone{
    font-size: 80px;
    padding: 10px;
    opacity: 0.3;
}
.saiba-mais{
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: rgba(0,0,0,0.2);
    height: 25px;
}
.saiba-mais:hover {
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}
.saiba-mais a:hover{
    text-decoration: none;
}
.saiba-mais h5{
    color: #FFF;
    font-size: 13px;
}
.grafico{
    width: 100%;
    background: #FFF;
    padding-top: 4px;
    margin-top: 30px;
}
.grafico-titulo{
    text-align: center;
}
.painel-arvore{
    margin-top: 50px;
}
/*CSS Compra*/
.compraGeral{
    background: #00a65a;
    height: 100px;
    width: 100%;
    display: flex;
    
}
.compraIcon{
    width: 10%;
    height: 100%;
   
}
.compraIcon span{
    font-size: 70px;
    color:#000;
    padding: 15px;
    opacity: 0.3;
}
.compraStatus{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.2);
    padding-right: 10px;
    padding-left: 10px;
    color:#FFF;
}
.compraStatusTitulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;       
    padding: 15px 15px 0 5px;
}
.compraStatusTitulo span{
    font-size: 18px;
}
#bonus{
    font-size: 22px;
    font-weight: bold;
}
#valor{
    
}
.compraStatusValores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    width:100%;
}
.compraStatusValores span{
    width:100%;
}
.compraStatusBarra{
    height: 5px;
    margin-bottom: 20px;
}
#barraBonus{
    height: 5px;
    background: #FFF;
    border: 0;
   
    z-index: 999;
}
.compraStatusDados{
    width: 100%;
}
.compraStatusBarra{
    width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#barraGeral{
    border: 0;
    height: 5px;
    background: #000;
    margin-right: 0;
    opacity: 0.3;
   
    
}
.compraButton{
    width: 20%;
    height: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
    color: #FFF;
    font-size: 18px;
}
.compraValor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
}
.compraValor span{
    font-size: 20px;
    font-weight: bold;
}
/*CSS Protocolo de Compra*/
.protocolo{
    display: flex;
    justify-content: flex-start;
}
.modal-body h3{
    font-size: 24px;
    font-weight: bold;
}
.protocolo p{
    font-size: 22px;
}
#protocolo{
    padding-left: 10px;
}
#modalFooterCompra{
    height: 50px;
    text-align: center;
}
#buttonImprimirBoleto{
    font-size: 18px;
}
/*CSS Premiacao*/
#premiosGeral thead{
    border: 0;
}
#premiosGeral input{
    background: transparent;
    border:0;
    font-size: 16px;
}
#premiosGeral td{
    font-size: 16px;
    font-weight: bold;
}
#credito{
    color:blue;
    font-weight: bold;
}
#debito{
    color:red;
    font-weight: bold;
}
#total{
    color: #000;
    font-weight: bold;
}
/*CSS Dependentes*/
.btn-dependente{
    width: 100%;
    text-align: center;
}
#table-dependentes{
    border-bottom: 1px solid #ccc;
}