body{
    
}
header{
    
}
.login, .cadastrar{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url(../images/fundo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.login-logo, .cadastrar-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.login-logo #lar, .cadastrar-logo #lar{
    height: 90px;
    width: 220px;
    margin-bottom: 5px;
}

.login-all h1, .cadastrar-all h1{
    color:yellow;
    padding-bottom: 20px;
    text-align: center;
    font-family: gabriola;
    font-size: 60px;
}
.login-form{
    height: 360px;
    width: 320px;
    border: 1px #ccc solid;
    padding: 26px 24px 36px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.cadastrar-form {    
    height: 500px;
    width: 420px;
    border: 1px #ccc solid;
    padding: 2px 24px 16px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
.login-form form, .cadastrar-form form{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    color: #72777c;
    font-size: 16px;
    padding-bottom: 0px;
}
.cadastrar-form form{
    height: 445px;
}
.cadastrar-form form h3{
    font-weight: bold;
    color: #000;
}
.login-form form input{
    font-size: 24px;
    /*width: 100%;*/
    padding: 3px;
    margin: 2px 6px 10px 0;
}
#button-login{
    font-size: 18px;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    width: 90px;
    height: 30px;    
}
.cadastrar-login{
    text-align: right;
    
}
#forca{
    height: 7px;
    background: #00FF00;
}
/*CSS esqueci Senha*/
.login-esqueci{
    background: #FFF;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    color: #72777c;
    font-size: 16px;
    padding: 20px 20px 30px 20px;
}
.login-esqueci input{
    height: 40px;
    font-size: 18px;
}
.login-esqueci button{
    width: 70px;
}